@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(227, 235, 238);
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
    height: 100vh;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: rgb(97, 165, 253);
    grid-row: 1 / 3;
    grid-column: 1;
    color: white;
    font-weight: 700;
}

header {
    background-color: white;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
}

.mainContent {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.articles {
    grid-row: 1 / 3;
    grid-column: 1;
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
}

.articles h3 {
    grid-column: 1 / 3;
    align-self: center;
}

.article {
    background: white;
    margin-right: 20px;
    margin-bottom: 20px;
}

.announcements {
    grid-column: 2;
    grid-row: 1;
}

.trending {
    grid-column: 2;
    grid-row: 2;
}

.sidebar .logo {
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-left: 25px;
    margin-top: 15px;
}

.logo img {
    height: 60px;
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

li img {
    height: 30px;
    filter: invert(93%) sepia(100%) saturate(0%) hue-rotate(248deg) brightness(106%) contrast(106%);
}

li {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-links,
.secondary-links {
    margin: 40px 0 0 25px;
}

ul li {
    margin: 10px 0;
}

header img {
    height: 30px;
}

header input {
    background-color: rgb(227, 235, 238);
    border-radius: 20px;
    height: 30px;
    flex: 1 1 0;
    max-width: 600px;
    border: 0;
}

.search {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userprofile img {
    height: 30px;
}

.userprofile {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 700;
}

.usermessage {
    display: flex;
    gap: 10px;
    font-weight: 700;
}

.usermessage img {
    height: 60px;
}

.usermessage-2 p:nth-child(2) {
    font-size: 30px;
}

.newContent button {
    background-color: rgb(97, 165, 253);
    border: 0;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.newContent {
    display: flex;
    gap: 20px
}

.mainContent